.button {
  background-color: #b47aea;
  width: 144px;
  height: 45px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.button:hover {
    background-color:#aa68e8
  }

.buttonInner {
  text-decoration: none;
  color: #953fe6;
}
.buttonInner:hover {
  color: #8827e2;
}
.header {
  font-weight: 700;
  font-size: 72px;
  line-height: 87.14px;
  color: #5e5e5e;
  margin-bottom: -5px;
}

.headerText {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: #5e5e5e;
  margin-bottom: 30px;
}

.text {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ffffff;
}

.flexContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 0.4;
}

.flexContainer_1 {
  display: flex;
  justify-content: end;
}

.flexContainer_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.span {
  margin-right: 5px;
}